@use "../base/variables" as v;
@use "../base/mixins" as m;
.barra-navegacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  background-color: rgba($color: #fff, $alpha: 1);
}

@include m.desktop {
  .barra-navegacion {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  .slogan {
    display: block;
    text-align: right;
    grid-column-start: 1;
    grid-column-start: 2;
    line-height: 0;
  }
}

.barra-navegacion .logo img {
  width: 30rem;
}
@include m.desktop {
  .barra-navegacion {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .logo {
      flex: 1;
      padding-left: 5%;
    }
    .contenedor-menu {
      flex: 2;
    }
  }
  .barra-navegacion .logo img {
    width: 30rem;
  }
}

.menu-principal {
  /* display: none; */
}
.hambuguer-menu svg {
  color: v.$morado;
  border: 1px solid #fff;
}
.hambuguer-menu:hover {
  cursor: pointer;
}
@include m.desktop {
  .hambuguer-menu {
    display: none;
  }
}
.contenedor-menu {
  opacity: 0;
  max-height: 0;
  transition-delay: 100ms 300ms;
  transition-property: opacity, max-height;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}
@include m.desktop {
  .contenedor-menu {
    all: unset;
  }
}
.mostrar {
  opacity: 1;
  max-height: 35rem;
  transition-delay: 100ms 300ms;
  transition-property: max-height, opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}
.menu-principal .menu a {
  color: v.$morado;
  font-size: 1.8rem;
  font-weight: 600;
  display: block;
  text-align: center;
  padding: 0.5rem 2rem;
}
.slogan {
  color: v.$morado;
  font-size: 2.3rem;
}
@include m.desktop {
  .menu-principal {
    display: block;
  }
  .menu-principal .current_page_item > a {
    color: v.$gris;
  }
  .menu-principal .menu {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    gap: 2rem;
  }
  .menu-principal .menu a {
    padding: 0;
  }

  .contenedor-menu {
    display: grid;
    grid-template-columns: 10fr 1fr;

    .menu-principal,
    .menu-social {
      border-bottom: 3px solid v.$gris;
      padding-top: 0;
    }

    .slogan {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }
}

.menu-social {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.header-contacto .barra-navegacion {
  background-color: v.$morado !important;
  padding: 1rem 0;
}

@include m.desktop {
  .header-contacto .barra-navegacion {
    background-color: v.$morado !important;
    padding: 1rem 0;
    z-index: 1000;
  }
}
